.header{
    width: 100%;
    font-size: 15px;
}
.copy_right_footer{
    position: fixed;
    background-color: grey;
    width: 100%;
    bottom: 0;
    text-align: center;
    line-height: 3;
    color:rgb(22, 22, 201);
}
canvas{
    box-shadow: 5px,5px,5px,5px,grey;
    border-radius: 20px;
    border:5px ,solid white;
}
